@import "../../../bases/styles/mixin.scss";
.enterDriverInfo-box .ant-form-item{
  margin-bottom: 0px;
}
.enterDriverInfo-box .ant-input-outlined,.enterDriverInfo-box .ant-input-outlined:focus{
  border-color: #ffffff;
  box-shadow:none
}
.form-row{
  display: flex; 
  margin-bottom: 16px;
  position: relative;
}
.form-border-box{
  padding:8px 12px 8px 12px;
  border: 1px solid rgba(171, 183, 186, 1);
  border-radius: 8px;
  width:45%;
  height:57px
}
.form-border-box>div:nth-child(1),.form-border-boxMini>div:nth-child(1),.form-border-boxMax>div:nth-child(1){
  color: rgba(139, 139, 139, 1);
  font-size: 12px;
}
.enterDriverInfo-box .ant-form-item .ant-form-item-control-input {
  min-height: 22px;
}
.enterDriverInfo-box .ant-input{
  padding-left: 0px;
}
.form-row>div:nth-child(2){
  position: absolute;
  right:0px;
}
.enterDriverInfo-box .ant-picker-outlined{
  border-color: #ffffff;
}
.enterDriverInfo-box .ant-picker{
  width: 100%;
  box-shadow:none;
  padding:0px
}
.phone-box .ant-select-selector{
  box-shadow:none !important;
  border-color:#ffffff !important;
  padding-left: 0px !important;
}
.form-title{
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em; 
  margin: 32px 0px 16px 0px;
}
.phone-box{
  display: flex;
  width: 45%;
}
.form-border-boxMini{
  width: 45%;
  min-height: 57px;
  padding: 8px 12px 8px 12px;
  gap: 10px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid rgba(171, 183, 186, 1);
}
.form-border-boxPhone{
  width: 55%;
  min-height: 57px;
  padding: 8px 12px 8px 12px;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid rgba(171, 183, 186, 1);
  border-left: none;
  background: map-get($colors, white)
}
.form-border-boxMax{
  width: 100%;
}
.form-border-boxMax{
  padding: 8px 12px 8px 12px;
  border: 1px solid rgb(171, 183, 186);
  border-radius: 8px;
  height:57px
}
.submitBox-delete{
  height: 40px;
  padding: 16px 24px 16px 24px;
  border-radius: 37px;
  border: 1px solid rgba(235, 72, 32, 1);
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgba(235, 72, 32, 1);
  width:180px;
  cursor: pointer;
}
.form-row-submitBox{
  margin-top:40px;
  position: relative;
  width:100%;
}
.submitBox-submit{
  position: absolute;
  right:0px;
  top:0px;
  width:260px;
  height: 40px;
  padding: 16px 24px 16px 24px;
  border-radius: 37px;
  border: 1px solid rgba(55, 98, 246, 1);
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:map-get($colors, blue-text);
  cursor: pointer;
}
.form-row-disable{
  background: map-get($colors, grey-background);
  border: none;
}
.form-row-disable .ant-input-outlined,.form-row-disable .ant-input-outlined:focus{
  background: map-get($colors, grey-background);
  box-shadow:none;
  border-color:map-get($colors, grey-background);
}
.form-row-disable .form-border-boxPhone .ant-input-outlined,.form-row-disable .form-border-boxPhone .ant-input-outlined:focus{
  background: map-get($colors, white);
  box-shadow:none;
  border-color:map-get($colors, white);
}
.form-row .phone-box .ant-select-selector{
  box-shadow:none !important;
  background: map-get($colors, white) !important;
  border-color:map-get($colors, white) !important;
  padding-left: 0px !important;
}
.enterDriverInfo-box .ant-select-selector{
  border: none !important;
}
@media (max-width: 850px) {
  .phone-box{
    width: 100%;
  }
  .form-border-boxMini{
    width: 35%;
    border-radius:8px
  }
  .form-border-boxPhone{
    width: 60%;
    margin-left: 5%;
    border-left: 1px solid rgb(171, 183, 186);
    border-radius:8px
  }
  .submitBox-submit{
    top:10px;
    margin: 0 auto;
    position: relative;
  }
  .submitBox-delete{
    width:260px;
    margin: 0 auto;
  }
}