@import "../../../bases/styles/mixin.scss";
@import "../../../bases/styles/mixin.scss";

.layout-header-container {
 
  .layout-footer {
    height: 300px;
    background-color: yellowgreen;
    padding: 0;
    // background-image: linear-gradient(180deg, #377e90 0%, #031a2c 100%);
    &__wrapper {
      display: flex;
      @include main-container;
      justify-content: center;
      padding: 80px 0 0 0;
      &__menus {
        @include flex-column;
        margin: 0 32px;
        align-items: center;
      }
    }

    &__logo {
      margin-top: -34px;
      @include flex-column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__icon {
      height: 20px;
      width: 16px;
      outline-color: #59a2b5;
    }
    &__copyright {
      @include main-container;
      &__wrapper {
        color: map-get($colors, teal-3) !important;
        padding: 8px 0;
      }
      &__policy {
        color: map-get($colors, teal-3);
      }
    }
    .ant-menu-light {
      display: flex;
      border: none;
      background: transparent !important;
      flex-direction: column !important;
      .ant-menu-item {
        color: white;
        justify-content: center;
      }
      .ant-menu-submenu {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &-title {
          width: max-content;
        }
      }
    }
  }
}

@include media-max-size(sm) {
  .layout-header-container {
    &__header {
      padding: 0;
      overflow: hidden;
      border-bottom: 1px solid #e6e6e6;
      box-shadow: 0 0px 4px rgba(0, 0, 0, 0.05);
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Adjust values for hover effect
      }
      .menu-toggle {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          @include flex-column;
          width: 48px;
          height: 48px;
          align-items: center;
          justify-content: center;
          margin: 8px;
          padding: 0px;
          margin-right: 12px;
        }
      }

      &__logo {
        display: inline-block;
        &.ant-image-img {
          width: 155px;
        }
      }
    }
  }
  .layout-footer {
    height: 200px;
    &__wrapper {
      @include flex-column;
      align-items: center;
      &__menus {
        margin: 48px 0 !important;
      }
    }
    &__copyright {
      &__wrapper {
        flex: 1;
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
      }
    }
    &__social {
      margin: 40px 0;
    }
  }
  .layout-header {
    &__drawer {
      .ant-menu-inline {
        .ant-menu-title-content {
          color: map-get($colors, gray-2) !important;
        }
      }
      .ant-menu-submenu-title {
        color: map-get($colors, gray-2) !important;
      }
    }
  }
}
