@import "/src//bases/styles//variables.module.scss";

.car-select_main-layout {
    padding: 0px 24px;
    background: map-get($colors, blue-5);
    width: 100%;
    display: flex;
    justify-content: center;

    .right-area,
    .left-area {
        width: 100%
    }
}

.ant-form-item-explain-error {
    font-size: 12px;
    margin-top: 8px;
    margin-left: 16px;
    font-weight: 600;
}