@import "/src/bases/styles/variables.module.scss";

.booking-result-card {
  padding: 24px 32px;
  border-radius: 8px;
  font-family: Noto Sans;
  background-color: white;
  color: #1d1b20;

  h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin: 0;
  }
}

.booking-result-card.driver-info {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;

  .driver-title {
    color: map-get($colors, blue-1);
    margin: 16px 0;
  }
}

.booking-result-card.important-info {
  background-color: map-get($colors, blue-5);

  .important-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-top: 0px;
  }
  .important-desc {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  .important-icon {
    width: 32px;
  }

  .important-contact {
    color: map-get($colors, blue-1);
    font-weight: 600;
  }
}

.booking-result-index {
  background-color: map-get($colors, blue-6);
  padding: 16px 24px;
}

div.booking-result {
  background-color: map-get($colors, blue-2);
  padding: 16px;
  border-radius: 8px;
  color: map-get($colors, white);
  font-family: Noto Sans;

  .booking-result-status {
    font-size: 24px;
    font-weight: 600;
    line-height: 32.69px;
    margin: 0px;
  }

  .booking-result-print-btn {
    border: 1px solid map-get($colors, white);
    color: map-get($colors, white);
    background-color: rgba($color: map-get($colors, black), $alpha: 0);
    font-size: 14px;
    font-weight: 700;
    margin-top: 6px;
  }
}
