.info-wrapper {
    background: #6386FF;
    padding: 8px;
    border-radius: 8px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;

    .infomation {
        margin-right: 10px;
    }
}