@import "/src/bases/styles/variables.module.scss";

.add-ons-item-card {
  padding: 0px;
  width: 100%;
  overflow: hidden;
  // background: map-get($colors, blue-1);
  color: #1d1b20;
  font-family: "Noto Sans";

  .addons-image {
    width: 221px;
    height: 142px;
    border-radius: 8px 0px 0px 8px;
  }
  .addons-right-content {
    border-radius: 0px 8px 8px 0px;
    border-right: 1px solid #abb7ba;
    border-bottom: 1px solid #abb7ba;
    border-top: 1px solid #abb7ba;
    padding: 16px;
    flex-grow: 1;

    .addons-title {
      font-size: 16px;
      font-weight: 600;
    }

    .addons-desc {
      font-size: 16px;
      font-weight: 400;
    }
    .addons-price {
      font-size: 24px;
      font-weight: 600;
    }

  }

  .add-ons-left-image {
    position: relative;
    .add-ons-popular-mark {
      position: absolute;
      left: 8px;
      top: 10px;
      border-radius: 8px;
      background: map-get($colors, blue-1);
      color: map-get($colors, white);
      padding: 4px 8px;

      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.1px;

      .addons-star-icon {
        width: 14px;
        height: 14px;
        margin-top: -2px;
      }
    }
  }
}

@media (max-width:640px) {
  .add-ons-item-card{
    flex-direction: column;
    .addons-image {
      width: 335px;
      height: 203px;
      border-radius: 8px 8px 0px 0px;
      img{
        max-width: 100%;
      }
      
    }

    .addons-right-content {
      box-sizing: border-box;
      width: 335px;
      border-radius: 0px 0px 8px 8px;
      border-top: none;
      border-left: 1px solid #abb7ba;
      padding: 16px;
    }

    .addons-footer{
      margin-top: 12px;
    }
  }
}

.addons-popup-button-add {
  color: map-get($colors, white);
  background-color: map-get($colors, blue-1);
  border: none;
}
.addons-popup-button-remove {
  color: map-get($colors, blue-1);
  background-color: map-get($colors, white);
  border: 1px solid map-get($colors, blue-1);
 
}

.addons-popup-button{
  font-size: 16px;
  font-weight: 700;
}
