@import "./variables.module.scss";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.ant-collapse-header {
  padding: 12px 16px 6px 16px !important;
}

.ant-tag {
  padding-bottom: 3px;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin center-alignment {
  align-items: center;
  justify-content: center;
}

@mixin alignment {
  align-items: center;
  display: flex;
}

@mixin box-shadow {
  box-shadow: $box-shadow;
}

@mixin main-container {
  max-width: 1140px;
  padding: 15px;
  margin: auto;
}

@mixin picker {
  flex: 1;
  cursor: pointer;
  @include flex-row;
  align-items: center;
  background-color: map-get($colors, white);
  border: 1px solid map-get($colors, white);
  // padding: 8px;
  // gap: map-get($spacing, margin);
  height: var(--picker-height);

  p {
    font-size: map-get($font-size, p2);
    font-weight: 600;
  }

  &__content {}
}

@mixin media-between-sizes($lower, $upper) {
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    @media (min-width: $lower-breakpoint) and (max-width: $upper-breakpoint) {
      @content;
    }
  }
}

@mixin media-min-size($size) {
  @if map-has-key($breakpoints, $size) {
    $lowest-breakpoint: map-get($breakpoints, $size);

    @media (min-width: $lowest-breakpoint) {
      @content;
    }
  }
}

@mixin media-max-size($size) {
  @if map-has-key($breakpoints, $size) {
    $highest-breakpoint: map-get($breakpoints, $size);

    @media (max-width: $highest-breakpoint) {
      @content;
    }
  }
}