$colors: (white: #ffffff,
  black: #000000,
  black-1: #333333,
  black-2: #2c353b,
  blue-1: #3762F6,
  blue-2: #6386FF,
  blue-3: #7D9AFC,
  blue-4: #C4D1FF,
  blue-5:#E3E9FF,
  teal-1: #3762F6,
  teal-2: #3762F6,
  teal-3: #3762F6,
  teal-4: #3762F6,
  light-blue-1: #a6cdd7,
  light-blue-2: #ebf4f6,
  light-blue-3: #baefed,
  gray-1: #38434b,
  gray-2: #2c353b,
  gray-3: #59646d,
  gray-4: #626f71,
  gray-5: #a6acb0,
  gray-6: #a8b7ba,
  gray-7: #d4d7d9,
  gray-8: #e3e9eb,
  gray-9: #ebeced,
  gray-10: #f5f5f5,
  gray-11: #f8f8f8,
  green-1: #05874c,
  green-2: #7db100,
  red-1: #f74850,
  red-2: #eb4820,
  border-picker: #d9d9d9,
  black-background: #262626,
  black-text: #262626,
  border: #757575,
  placeholder: #757575,
  background: #f5f5f5,
  primary: #ff5b00,
  warning: #ffc107,
  grey-background: #f5f5f5,
  grey-hover: #eeeeee,
  grey-text: #757575,
  orange-border: #ff5b00,
  blue-border: #2073f9,
  blue-text: #2073f9,
  green-background: #00800a,
);

$spacing: (padding: 17px,
  margin: 17px,
  radius: 8px,
  lg-radius: 14px,
);

$font-size: (lg: 18px,

  h1: 60px,
  h2: 48px,
  h3: 36px,
  h4: 30px,
  h5: 24px,
  h6: 18px,

  p1: 16px,
  p2: 15px,
  p3: 14px,
  p4: 12px,
);

$font-family: "ToyotaType",
sans-serif;

$box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);

//--- responsive config
$breakpoints: (none: 0px,
  xxs: 400px,
  xs: 600px,
  sm: 768px,
  md: 992px,
  md-1: 1130px,
  lg: 1200px,
);

//--- exporting for external using
:export {
  font: {
    family: $font-family;
  }

  colors: {
    primary: map-get($colors, teal-2);
    light-blue-2: map-get($colors, light-blue-2);
    light-blue-1: map-get($colors, light-blue-1);
    teal-3: map-get($colors, teal-3);
    gray-8: map-get($colors, gray-8);
    gray-6: map-get($colors, gray-6);
    black-1: map-get($colors, black-1);
  }
}